
// =============================================
// Cart & Checkout
// =============================================

.cart-table {
	thead th, tbody td {
		font-family: $titlefont;
	}
	.button2 {
		span, span span {
			font-family: $mainfont;
			font-size: 90%;
			&:hover {
				color: lighten( $textcolor, 50% );
				text-decoration: underline;
			}
		}
	}
	.item-options {
		font-family: $mainfont;
		padding-left: 0;
		margin-left: 0 !important;
		font-size: 85%;
		letter-spacing: $spacing+1;
		dt {
			font-style: normal;
			font-weight: $mediumweight;
		}
	}
	.product-cart-sku {
		display: none;
	}
	.product-name a {
		font-family: $titlefont;
		font-weight: $mediumweight;
	}
	.cart-links > li > a {
		font-family: $mainfont;
		font-size: 80%;
		letter-spacing: $spacing+1;
	}
}
.cart-totals, .cart-forms .discount, .cart-forms .giftcard, .cart-forms .shipping {
	background: lighten( $background, 98% );
}
#co-shipping-method-form .buttons-set .button:hover {
	background: lighten( $background, 30% );
}
.checkout-cart-index .checkout-types a:not(.button), #crosssell-products-list .add-to-links a {
	font-family: $mainfont;
	font-size: 80%;
	letter-spacing: $spacing+1;
}
#co-shipping-method-form .buttons-set .button, .shipping .sp-methods label span, .shipping #co-shipping-method-form .sp-methods dd label, .sp-methods dt {
	font-family: $titlefont;
}
.sp-methods dt:first-child {
	margin: 0 0 5px;
	font-weight: 300;
	font-size: 14px;
	color: #111;
	text-transform: uppercase;
}
.opc .checkbox + label, .opc .radio + label {
	letter-spacing: 0;
	font-size: 13px;
}
#discount-coupon-form label, .cart .giftcard label, #discount-coupon-form .button-wrapper > button,
.cart .giftcard .button-wrapper > button, .shipping .form-list label, .cart .cart-totals table,
.cart .cart-totals table tfoot strong span, .cart .cart-totals table tfoot span.price, .crosssell h2,
.block-progress dt, #checkout-step-review .data-table thead th, #checkout-step-review .data-table tbody td, .opc h3,
#checkout-step-review .data-table tbody td, #checkout-step-review .data-table tfoot td,
body.customer-account .my-account .fieldset h2, body.customer-account .my-account .addresses-list h2, 
body.customer-account .my-account .order-details h2 {
	font-family: $titlefont;
	font-weight: $mediumweight;
	font-size: 100%;
	color: $textcolor;
}
.cart .cart-totals table tfoot strong span, .cart .cart-totals table tfoot span.price {
	font-weight: $boldweight;
}
.cart-table .product-cart-actions, #co-shipping-method-form .buttons-set  {
	.button:active {
		background: lighten( $background, 30% );
	}
	.button:focus {
		background: lighten( $background, 50% );
	}
}
.opc .section.allow .step-title .number {
	background: lighten( $background, 80% );
}
.checkout-onepage-index .page-title h1 {
	border: 0;
}
.item-options {
	dd, dt {
		font-family: $mainfont;
		font-style: normal;
		font-weight: $mediumweight;
	}
}
.cart .button, #checkout-review-submit .buttons-set button.button {
	background: $greencta;
	&:hover {
		background: $greenctahover;
	}
}
.block-progress dd address, .block-progress dd, .block-progress dd p {
	font-family: $mainfont;
	font-style: normal;
	letter-spacing: 0;
	font-size: 13px;
	color: #111;
}

// Social Sharing on checkout success
.sc_container {
	text-align: center !important;
	&:before {
		content: "Share Your Purchase!";
		display: block;
		text-align: center;
		text-transform: uppercase;
		font-family: $titlefont;
		font-weight: 300;
		color: #111;
		border-top: 1px solid #EEE;
		padding-top: 12px;
	}
}
.sc_item_name {
	font-size: 80%;
	font-weight: 400;
	color: #111;
	letter-spacing: 1px;
	text-transform: capitalize;
	padding-bottom: 0;
	line-height: 1.4;
}
.sc_icons {
	margin-bottom: 15px;
	a {
		width: 30px;
		display: inline-block;
		padding-left: 20px;
	}
}
@media only screen and (max-width: 770px) {
	.sc_item {
		width: 49% !important;
	}
}

/* SagePay Icons */
label[for="p_method_sagepaydirectpro"], label[for="p_method_sagepayserver"], label[for="p_method_sagepayform"] {
	padding-left: 135px !important;
	padding-top: 7px !important;
	background-repeat: no-repeat;
	background-image: url(../sagepaysuite/images/sage-pay-small.jpg) !important;
}
/* Stripe Icons */
label[for="p_method_amasty_stripe"] {
	padding-left: 135px !important;
	padding-top: 7px !important;
	background-repeat: no-repeat;
	background-image: url(../sagepaysuite/images/sage-pay-small.jpg) !important;
	background-position: 40px 50%;
	background-size: 80px;
}

// =============================================
// Account
// =============================================

p.hello strong {
	font-weight: $mediumweight;
	font-size: 130%;
}
.dashboard {
	.box-head h2 {
		font-weight: $boldweight;
		color: $textcolor;
	}
	.col2-set {
		.col-1, .col-2 {
			.box-title {
				h2, h3 {
					font-weight: $boldweight;
					color: $textcolor;
				}
			}
		}
	}
}
.order-info-box .box-title h2, #my_recent_reviews h3.product-name a, body.customer-account .data-table td .product-name a, .product-review .product-details h2 {
	font-family: $titlefont;
	font-weight: $boldweight;
	color: $textcolor;
}
h2.table-caption {
	font-weight: $mediumweight;
	font-size: 130%;
	color: $textcolor;
}
.box-content p {
	font-size: 100%;
	letter-spacing: $spacing;
}
.order-date, body.customer-account .data-table td a, .dashboard .box-reviews li .details .ratings strong {
	font-family: $mainfont;
}
.block-account, .block-cms-menu {
	li {
		a {
			color: $textcolor;
			font-family: $titlefont;
			letter-spacing: $spacing+1;
			&:hover {
				color: lighten($textcolor,30%)
			}
		}
		strong, .block-cms-menu li strong {
			color: $gold;
			font-weight: $mediumweight;
			font-family: $titlefont;
		}
	}
	.block-title {
		border-bottom: 1px solid $bordercolor;
		width: 75%;
		padding-bottom: 10px;
		margin-bottom: 15px;
	}
}
.customer-account {
	p.product-name {
		font-family: $titlefont;
		font-weight: $boldweight;
		color: $textcolor;
	}
}
// Wishlist
#wishlist-table {
	.product-name a, &.clean-table thead th {
		font-family: $titlefont;
		font-weight: $boldweight;
		color: $textcolor;
		font-size: 120%;
	}
	.wishlist-sku, textarea {
		font-family: $mainfont;
	}
}
// Reviews
.product-review {
	.ratings-table th, .ratings-description dt, .ratings-description dd, .product-img-box p.label {
		font-family: $mainfont;
		color: $textcolor;
	}
	.product-img-box {
		float: none;
		width: 100%;
		.product-image {
			float: left;
		}
	}
}

// JuviGems Styling
body.customer-account .my-account .page-title h1 {
	color: $gold;
}
.block-account .block-title {
	border-bottom: 4px solid $gold;
	strong {
		font-size: 125%;
		color: $gold;
	}
}
.box-account.box-info.box-rewardpoints-summary {
	padding: 20px 25px;
	color: #E1D5C6;
	background: #987F6E url(/skin/frontend/juvi/default/images/juvigem_light.png) no-repeat 28px 18px;
	background-size: 5%;
	p {
		font-family: $mainfont;
		font-style: normal;
		font-size: 110%;
	}
	img {
		display: none !important;
	}
	.box-head {
		border-bottom: 1px solid #E1D5C6;
		margin-top: 10px;
		h2 {
			color: #E1D5C6;
			padding-left: 60px;
			font-size: 150%;
			letter-spacing: 1px;
		}
	}
	.rewardpoints-money {
		color: #FFF;
		font-size: 20px;
	}
	a.rewardpoints-name-img {
		display: none;
	}
	a {
		color: #636363;
		background: #e2d5c5;
		padding: 12px 30px;
		margin-left: -32px;
		font-size: 18px;
	}
}
strong.rewardpoints-title {
	font-size: 15px;
	color: #E1D5C6;
	border-bottom: 1px solid #E1D5C6;
	padding-bottom: 4px;
	margin-bottom: 8px;
	display: inline-block;
}
.rewardpoints-title-content, .rewardpointsrule-rule-name-policy, .rewardpoints-dashboard-ul {
	color: #FFF !important;
	font-size: 110%;
}
.customer-account-index {
	.box-account.box-info.box-rewardpoints-summary {
		background: #987F6E url(/skin/frontend/juvi/default/images/juvigem_light.png) no-repeat 3.5% 11%;
		background-size: 5%;
	}
}
#header-account {
	span.rewardpoints-name {
		font-size: 70%;
	}
}
// Cart Box
.discount.juvigems-cart-box {
	background: #987F6E url(/skin/frontend/juvi/default/images/juvigem_light.png) no-repeat 14px 9px;
	background-size: 24px;
	border: 0;
	color: #E1D5C6;
	dl.rewards-sales-rules dd {
		display: inline-block;
		background: #e2d5c5;
		color: #636363;
		margin-left: -20px;
		padding-left: 10px;
		label {
			padding: 0 0 6px 10px;
		}
	}
	h2 {
		color: #E1D5C6;
		border-bottom: 1px solid #E1D5C6;
		padding-bottom: 10px;
		font-size: 120% !important;
		font-weight: 200 !important;
		letter-spacing: 1px;
		padding-left: 40px;
	}
	.white {
		color: #FFF;
	}
}
#rewardpoints-checkout-payment-method-load {
	padding: 16px;
	background-size: 30px;
	#rewardpoints-slider {
		margin: 0;
	}
	#rewardpoints-slider-container {
		padding: 10px;
		margin-left: -35px;
		display: block;
		background: #e2d5c5;
		color: #997f6c;
	}
}

// Checkout Lockdown styling
.checkout-onepage-index {
	#header-nav, .skip-links, #header-search {
		height: 0;
		overflow: hidden;
		pointer-events: none;
		opacity: 0;
	}
	.block-cart {
		border-left: 1px solid #CCC;
		padding: 5px 18px 20px;
		margin-top: 55px;
		.subtotal {
			.label, .price {
				font-family: $titlefont;
				font-size: 16px;
				font-weight: 400;
				text-transform: uppercase;
			}
		}
		li.item {
			margin-left: 0;
		}
		p.product-name a {
			font-family: $titlefont;
		}
		.block-title, .block-subtitle, .summary .amount, .actions, a.btn-edit, .details {
			display: none;
		}
		.mini-products-list .product-details .product-name {
			padding-top: 0;
			margin-bottom: 0;
			padding-bottom: 5px;
		}
		.item-options dd, .item-options dt {
			font-size: 12px;
			line-height: 12px;
		}
		.truncated {
			cursor: default;
			.truncated_full_value .item-options {
				border-color: #26130B;
				position: static;
				display: block;
				background: none;
				border: 0;
				padding: 0;
				font-family: $mainfont;
				&:after {
					display: none;
				}
			}
		}
	}
	label[for="billing:postcode"].required:after {
		display: none;
	}
}
