
// =============================================
// Cms Page Helpers
// =============================================

.cms-page-view, .cms-no-route {
	.std {
		p, li {
			margin-bottom: 10px;
			padding-bottom: 5px;
			font-family: $mainfont;
			font-size: 90%;
			font-style: normal;
			line-height: 18px;
			letter-spacing: $spacing+1;
		}
		a {
			text-decoration: underline;
		}
		ul {
			margin-bottom: 0;
		}
		hr {
			border: 0;
			background: #CCC;
			height: 1px;
			display: block;
			margin: 20px 0 25px;
		}
		.left {
			float: left;
			padding-right: 30px;
		}
		.right {
			float: right;
			padding-left: 30px;
		}
		.clear {
			clear: both;
		}
		.w100 {
			width: 100%;
		}
		.w90 {
			width: 90%;
		}
		.w80 {
			width: 80%;
		}
		.w75 {
			width: 75%;
		}
		.w70 {
			width: 70%;
		}
		.w66 {
			width: 66.66%;
		}
		.w60 {
			width: 60%;
		}
		.w50 {
			width: 50%;
		}
		.w40 {
			width: 40%;
		}
		.w33 {
			width: 33.33%;
		}
		.w30 {
			width: 30%;
		}
		.w25 {
			width: 25%;
		}
		.w20 {
			width: 20%;
		}
		.w10 {
			width: 10%;
		}
	}
}

// Events
.event {
	background: #FAFAFA;
	padding: 20px;
	margin: 0 0 20px;
	.date {
		font-size: 120%;
		text-transform: uppercase;
		letter-spacing: 1px;
		color: #493230;
	}
}
.press {
	width: 46%;
	float: left;
	margin: 0 4% 4% 0;
	box-sizing: border-box;
	padding: 20px;
	background: #FAFAFA;
}

// New About
#new-about {
	.clear {
		padding: 10px 0;
	}
	.banner {
		img {
			width: 100%;
		}
	}
	h1 {
		color: #987F6E;
		font-size: 42px;
		letter-spacing: 2px;
		margin-top: 20px;
	}
	.desc p {
		font-size: 20px !important;
		line-height: 26px !important;
		color: #000 !important;
		padding-bottom: 40px !important;
		@media only screen and (max-width: 1200px) {
			font-size: 16px !important;
			line-height: 22px !important;
			padding-bottom: 30px !important;
		}
		@media only screen and (max-width: 1000px) {
			font-size: 13px !important;
			line-height: 18px !important;
			padding-bottom: 10px !important;
		}
	}
	.grid4 img {
		width: 25%;
		display: inline-block;
		float: left;
		height: 25%;
		box-sizing: border-box;
		padding: 0.5%;
	}
	.twothirds {
		float: left;
		width: 66%;
		@media only screen and (max-width: 650px) {
			width: 100%;
		}
		&.desc {
			padding: 8% 20px 20px 0;
		}
	}
	.onethird {
		float: right;
		width: 33%;
		@media only screen and (max-width: 650px) {
			width: 100%;
		}
		img {
			padding-right: 1.6%;
			@media only screen and (max-width: 650px) {
				width: 100%;
				padding-right: 0;
			}
		}
	}
	.id2 .desc p {
		padding: 26px;
		&:first-child {
			padding-bottom: 10px !important;
		}
		&:last-child {
			padding-top: 0 !important;
		}
	}
}
// New Contacts
$gold: #987F6E;
.w70.left {
	@media only screen and (max-width: 980px) {
		width: 50% !important;
	}
	@media only screen and (max-width: 770px) {
		width: 100% !important;
	}
	.page-title h1 {
		font-size: 24px;
	}
	#contactForm {
		padding-left: 0;
		width: 95%;
		input[type=email], input[type=search], input[type=number], input[type=password], input[type=tel], input[type=text] {
			width: 100%;
			max-width: 100%;
			height: 35px;
		}
		textarea#comment {
			width: 100%;
			max-width: 100%;
			height: 150px !important;
		}
		label {
			font-size: 17px;
		}
	}
}
.contacts-index-index .buttons-set {
	margin-left: 0;
	button.button {
		float: left;
		margin-left: 0;
		min-width: 140px;
		span {
			font-size: 17px;
		}
	}
}
.contacts-block {
	@media only screen and (max-width: 980px) {
		width: 50% !important;
	}
	@media only screen and (max-width: 770px) {
		width: 100% !important;
	}
	h2 {
		background: $gold;
		color: #FFF;
		text-transform: capitalize;
		padding: 8px 20px 12px;
		margin: 40px 0 20px;
		text-align: center;
		line-height: 30px;
		font-size: 25px;
		&:first-child {
			margin-top: 20px;
		}
	}
	div {
		border: 2px solid $gold;
		text-align: center;
		padding: 20px;
		p {
			font-size: 17px;
			letter-spacing: 0;
			line-height: 24px;
		}
	}
}

// Service pages
.service-page {
	color: #000;
	.page-title h1 {
		text-transform: none;
	}
	&.faq .std {
		h5 {
			font-size: 18px;
			margin: 0;
		}
		p {
			font-size: 16px;
		}
	}
	.std {
		font-size: 16px;
		h3.solid {
			background: $gold;
			display: inline-block;
			color: #FFF;
			padding: 5px 12px;
		}
		h3 {
			color: $gold;
			font-size: 26px;
			text-transform: none;
		}
		h5 {
			color: $gold;
			font-size: 26px;
			text-transform: none;
		}
		p {
			color: #000;
			font-size: 18px;
			letter-spacing: 0;
		}
		.gold {
			color: $gold;
		}
		.large {
			font-size: 22px;
			line-height: 24px;
		}
		.no-p-m {
			padding: 0;
			margin: 0;
		}
		a {
			color: $gold;
		}
		ul {
			list-style-type: disc;
			color: #000;
			margin: 15px;
			li {
				color: #000;
				font-size: 16px;
				letter-spacing: 0;
				margin: 0;
				span {
					display: block;
					padding-top: 4px;
					padding-bottom: 9px;
					color: #000;
				}
			}
		}
	}
	.sidebar {
		margin-top: 60px;
		ul {
			list-style-type: disc;
			color: $gold;
			padding-left: 15px;
			font-size: 24px;
			@media only screen and (max-width: 770px) {
				font-size: 18px;
				border-top: 1px solid $gold;
			}
			li {
				margin: 18px 0;
				a {
					color: $gold;
					font-size: 22px;
					@media only screen and (max-width: 770px) {
						font-size: 18px;
					}
				}
			}
		}
		.widget {
			display: none;
		}
	}
}

// Tables 
.tg {
	border-collapse:collapse;
	border-spacing:0;
	border-color:$gold;
	font-family: $titlefont;
	color: #000;
	font-size: 18px;
	width: 100%;
	text-align: center;
	@media only screen and (max-width: 770px) {
		font-size: 14px;
		line-height: 14px;
	}
	td {
		padding:5px;
		border-style:solid;
		border-width:1px;
		overflow:hidden;
		word-break:normal;
		border-color:$gold;
		background-color:#fff;
	}
	th {
		font-weight:normal;
		padding:5px;
		border-style:solid;
		border-width:1px;
		overflow:hidden;
		word-break:normal;
		border-color:$gold;
		color:#fff;
		background-color:$gold;
		text-align: center;
	}
	.tg-9ars {
		background-color:$gold;
		color:#ffffff;
		vertical-align:top;
	}
	.tg-yw4l {
		vertical-align:top;
	}
}

