
// =============================================
// Footer
// =============================================

#fixed_footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	background: rgba(255,255,255,0.8);
	color: $textcolor;
	font-family: $titlefont;
	text-align: center;
	padding: 1%;
	z-index: 10;
	text-transform: uppercase;
	font-size: 80%;
	letter-spacing: $spacing+1;
	.footer-container {
		padding: 0;
		.footer-wrap {
			text-align: right;
			@media only screen and (max-width: 770px) {
				text-align: center;
			}
			padding: 0 30px;
			span.links-wrap {
				@media only screen and (max-width: 770px) {
					display: block;
					padding: 10px 0;
				}
			}
			a span {
				font-size: 0;
				display: inline-block;
				overflow: hidden;
				padding: 0 4px 0 13px;
			}
			i.fa {
				top: -12px;
				display: inline-block;
				position: relative;
				&:before {
					font-size: 140%;
				}
			}
		}
		.copyright {
			font-family: arial, sans-serif;
			font-size: 80%;
			text-transform: none;
			padding: 4px 6px 0 0;
			color: #666;
		}
	}
}
// Social Block
#social_block {
	text-align: center;
	max-width: 350px;
	margin: 20px auto 55px;
	padding: 0 !important;
}
#social_block a {
	display:inline-block;
	margin-right: 0;
	width: 24%;
}
#social_block a:last-child {
	margin-right: 0;
}
#social_block a img {
	width: 100%;
}
#social_block h4 {
    text-align: center;
    border-top: 1px solid #CCC;
    padding-top: 16px;
    font-size: 120%;
	letter-spacing: 1px;
}
#social_block h5 {
    text-align: center;
    font-size: 130%;
    font-style: italic;
    padding-bottom: 10px;
}
#social_block .fa:before {
	font-size: 30px;
	color: #27130a;
	left: -13px;
}

// Standard Footer
.standard-footer {
	& > div {
		border-top: 2px solid $gold;
		padding-top: 15px;
		width: 20%;
		display: inline-block;
		vertical-align: top;
		float: left;
		ul {
			padding-right: 15px;
			li {
				font-size: 13px;
				line-height: 100%;
				margin-bottom: 8px;
				h4 {
					text-transform: capitalize;
					font-size: 20px;
				}
			}
		}
	}
	.response {
		text-align: center;
		font-size: 12px;
		line-height: 13px;
		padding: 10px 0;
	}
	#mc-embedded-subscribe {
		margin: 14px auto 0;
		display: block;
		&:hover {
			color: #FFF;
		}
	}
}

// Subscription
@media only screen and (max-width: 770px) {
	.bannerContent__description {
		font-size: 12px;
	}
}

// Cookie Notice
#js-cookienotice {
	p {
		line-height: 16px;
		font-size: 12px;
	}
	p:first-of-type {
		display: block;
		padding-top: 15px;
		padding-bottom: 15px;
	}
	p.accept, p.decline {
		display: inline-block;
		margin: 0 15px;
		padding-bottom: 20px;
		a {
			text-decoration: none;
			color: #FFF;
			background: #3b1e0f;
			padding: 7px 15px;
			text-transform: uppercase;
			letter-spacing: 1px;
			font-size: 10px;
			margin-top: 0;
		}
	}
}
.scommerce-gdpr-cookienotice {
	padding: 0;
	.message {
		span.cookie-title {
			display: none !important;
		}
		br {
			display: none;
		}
		a {
			margin-top: 10px;
			display: inline;
		}
	}
}
