
// =============================================
// Gemstones & Press
// =============================================

.gemstone-featured-item {
	.stone-img-wrapper {
		width: 59%;
		float: left;
		height: 315px;
		overflow: hidden;
		img {
			min-width: 100%;
			min-height: 100%;
		}
	}
	.stone-info-wrapper {
		width: 38%;
		float: right;
		height: 315px;
		overflow-y: scroll;
	}
}
.juvi-press-pressarticle-view {
	.gemstone-featured-item {
		position: relative;
		.stone-img-wrapper {
			height: 990px;
			img {
				width: 100%;
				min-height: auto;
			}
		}
		.stone-info-wrapper {
			height: auto;
			overflow-y: auto;
			h2.related-gem {
				text-align: left;
			}
			.products-grid > li {
				float: left;
				clear: none;
				width: 47% !important;
				margin-right: 3% !important;
			}
		}
		.swiper-container {
			width: 59%;
			float: left;
			img {
				max-width: 100%;
			}
		}
		.arrow-wrap {
			width: 59%;
			position: absolute;
			margin-top: 32%;
		}
		a.arrow-left, a.arrow-right {
			font-family: "Alegreya Sans SC", "Roboto", arial;
			position: absolute;
			top: 32%;
			z-index: 10;
			display: block;
			left: 0;
			font-size: 750%;
			font-weight: 100;
			opacity: 1;
			background: rgba(94, 94, 94, 0.91);
			padding: 0 15px 15px 10px;
			color: #FFF;
			&:hover {
				background: rgb(94, 94, 94);
			}
		}
		a.arrow-right {
			left: auto;
			right: 0;
			padding: 0 10px 15px 15px;
		}
	}
}
.gemstone-list-container {
	margin: 20px -1%;
	.gemstone-list-item {
		width: 18%;
		float: left;
		margin: 1%;
		position: relative;
		.stone-img-wrapper {
			img {
				width: 100%;
			}
			h3 {
				background: $background;
				color: $buttontextcolor;
				display: inline-block;
				font-size: 90%;
				padding: 0 5px 2px;
				position: absolute;
				top: 20px;
				left: 20px;
				&:before {
					position: absolute;
					content: "";
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 7.5px 0 7.5px 10px;
					border-color: transparent transparent transparent $backgroundinvert;
					margin-left: -25px;
				}
			}
		}
		.stone-info-wrapper {
			h2.name {
				font-size: 130%;
				margin: 5px 0 0;
				letter-spacing: 1px;
			}
		}
	}
}
.juvi-press-pressarticle-index {
	.gemstone-list-item {
		background: #FAFAFA;
		padding: 0.5%;
		.stone-info-wrapper {
			padding: 10px 0.5%;
			line-height: 14px;
		}
	}
}
h2.related-gem {
	text-align: center;
	padding: 20px 0;
	clear: both;
	display: block;
	margin-bottom: 25px;
	border-bottom: 1px solid $bordercolor;
}
