
// =============================================
// Header
// =============================================

.header-language-background {
	padding: 0;
}
p.welcome-msg {
	position: absolute;
	font-size: 108%;
	margin: 80px 0 0 165px;
}
.logo {
	padding: 0;
}
.account-cart-wrapper {
	font-family: $titlefont;
	.label {
		font-size: 110%;
	}
}
// Search
#header-search {
	top: 20px;
	width: 190px;
}
#search {
	height: 28px;
	margin-top: -20px;
	display: block;
}
#search_mini_form {
	input#search {
		font-family: arial, sans-serif;
		letter-spacing: $spacing;
		border-color: $bordercolor;
		font-weight: $lightweight;
		color: $textcolor;
		line-height: 18px;
		height: 28px;
		margin-top: -26px;
		display: block;
		border: 0;
		border-bottom: 1px solid #000;
		border-radius: 0;
		font-size: 11px !important;
	}
	.search-button:before {
		content:"\f002";
		font-family: "FontAwesome";
		background: none;
		text-indent: 0 !important;
		color: $textcolor;
	}
	.search-autocomplete {
		ul {
			border: 1px solid $bordercolor;
			li {
				color: $textcolor;
				font-family: $mainfont;
				&.selected {
					background-color: lighten($background, 96%);
				}
			}
		}
		&:before {
			border-bottom-color: $bordercolor;
		}
	}
}

// Header Cart
#header-cart {
	&.skip-content {
		opacity: 0;
		position: absolute;
		top: -9999px;
		display: block;
		@include transition(opacity $transpeed $transease);
	}
	&.skip-active {
		border: 0;
		opacity: 1;
		top: 48px;
		@include css3-prefix(box-shadow, 0 0 3px 0 rgba(0,0,0,0.2));
	}
}
.header-minicart {
	.minicart-message {
		text-transform: uppercase;
	}
	.block-subtitle {
		font-family: $mainfont;
		color: $textcolor;
		font-weight: $boldweight;
		padding-top: 10px;
		.close {
			font-family: 'Alegreya Sans SC', $mainfont;
			top: -5px;
			right: -5px;
		}
	}
	.mini-products-list .product-image {
		min-width: 55px;
	}
	.product-image img {
		max-height: 900px !important;
		border: 1px solid #DDD;
		width: 90%;
		height: auto;
	}
	.product-details {
		> a {
			font-family: $mainfont;
			font-size: 80%;
		}
		.product-name {
			margin-bottom: 0;
			padding-bottom: 10px;
			a {
				font-family: $titlefont;
				color: $textcolor;
				font-weight: $mediumweight;
			}
		}
	}
	.info-wrapper {
		margin-bottom: 0;
		th, td {
			font-family: $mainfont;
			font-size: 80%;
			text-transform: none;
			color: $textcolor;
		}
		.qty {
			padding: 0;
			width: 2.2em;
			text-align: center;
			height: 22px;
			font-size: 100%;
		}
		.quantity-button {
			background: lighten($background, 40%);
			font-size: 90%;
			padding: 2px 8px;
			height: 22px;
			margin: -2px 0 0;
			display: inline-block;
			border-radius: 2px;
			&:hover {
				background: lighten($background, 20%);
			}
		}
	}
	.subtotal {
		background: transparent;
		border: 1px solid lighten($bordercolor, 80%);
		border-left: 0;
		border-right: 0;
		font-size: 100%;
		padding: 0;
		.label, .price {
			color: $textcolor;
			font-size: 100%;
		}
	}
	.minicart-actions {
		.checkout-button {
			background: lighten($background, 20%);
			color: $buttontextcolor;
			&:hover {
				background: $background;
			}
		}
		.cart-link {
			line-height: 20px;
			font-size: 100%;
		}
	}
}
.truncated .truncated_full_value .item-options {
	border-color: $bordercolor;
	&:after {
		border-bottom: 7px solid $bordercolor;
	}
}

// Account
#header-account {
	a {
		font-family: $titlefont;
		color: $textcolor;
		text-transform: uppercase;
		&:hover {
			color: lighten($textcolor, 50%);
		}
	}
	&.skip-content {
		opacity: 0;
		display: block;
		position: absolute;
		top: -200px;
		@include transition(opacity $transpeed $transease);
	}
	&.skip-active {
		opacity: 1;
		top: 30px;
		right: 200px;
		border: 0;
		background: $backgroundinvert;
		@include css3-prefix(box-shadow, 0 0 3px 0 rgba(0,0,0,0.2));
	}
}
.skip-account {
	padding: 0 17px 0 10px;
}
.account-cart-wrapper {
	width: 365px;
	right: 154px;
	top: -14px;
	> a {
		background: url(../images/top-menu-div.png) no-repeat 100% 50%;
	}
	.icon {
		display: none;
	}
	.label, .count {
		text-transform: uppercase;
		color: lighten($textcolor, 50%);
		font-size: 11px !important;
	}
}
.skip-cart.no-count .count {
	display: inline-block !important;
	color: $textcolor;
	font-family: $mainfont;
}

// Currency selector
.currency {
	display: inline-block;
	width: 140px;
	position: relative;
	z-index: 9;
	top: -10px;
	font-size: 80%;
	strong {
		font-weight: 200;
	}
	@media only screen and (max-width: 769px) {
		display: inline-block;
		width: 140px;
		position: absolute;
		z-index: 13;
		top: 24px;
		font-size: 80%;
		height: 33px;
		right: 10px;
	}

}
.currency-selector {
	font-size: 100%;
	font-family: $titlefont;
	text-transform: uppercase;
	width: 170px;
	@media only screen and (min-width: 770px) and (max-width: 979px) {
		
	}
	float: left;
	color: #919191;
	strong {
		display: block;
		float: left;
	}
	span.current-currency {
		display: block;
		color: #FFF;
		float: left;
		border: 1px solid #FFF;
		margin: -2px -1px 0 12px;
		padding: 0 10px 1px;
		font-size: 115%;
		background: #999;
	}
	ul {
		margin-top: -2px;
		li {
			display: inline-block;
			border: 1px solid #ddd;
			margin: 0 -6px 0 0;
			padding: 0px 8px 1px;
			font-size: 115%;
			border-left: 0;
			border-top-color: #FFF;
			border-bottom-color: #FFF;
			a:first-child {
				text-align: right;
				color: lighten($textcolor, 50%);
				font-weight: $lightweight;
				text-transform: uppercase;
			}
			&:last-child {
				@media only screen and (max-width: 769px) {
					border-right: 0;
				}
			}
		}
	}
}

// Top bars
body > .widget.widget-static-block > div {
	text-align: center;
	padding: 4px;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	@media only screen and (max-width: 770px) {
		padding: 6px 6px 9px;
		font-size: 11px;
		line-height: 11px;
	}
}
