
// =============================================
// Product View
// =============================================
.catalog-product-view {
	.main-container {
		padding: 30px 30px 5px !important;
	}
}
.product-view {
	.product-shop {
		width: 42%;
		.product-name {
			width: 100%;
			.h1 {
				font-family: $titlefont;
				font-weight: $boldweight;
				font-size: 155%;
				letter-spacing: $spacing+1;
				color: $textcolor;
			}
		}
		.price-info {
			width: 100%;
			max-width: 100%;
			text-align: left;
			padding: 0;
			margin: 0;
			.price-box .price {
				font-family: $titlefont;
				font-size: 155%;
				letter-spacing: $spacing+1;
			}
		}
		.short-description {
			font-size: 14px;
			font-family: $mainfont;
			letter-spacing: 0;
			line-height: 200%;
			padding-bottom: 20px;
		}
		.availability {
			font-size: 12px;
			padding: 0;
			&.in-stock {
				color: transparent;
			}
		}
		.product-sku {
			@media only screen and (max-width: 770px) {
				display: none;
			}
		}
	}
	.product-sku {
		margin-bottom: 20px;
		text-transform: uppercase;
		font-size: 13px;
		color: #777;
	}
	.product-img-box {
		position: relative;
		.product-image img {
			max-height: 900px !important;
		}
		.more-views {
			@media only screen and (min-width: 771px) {
				position: absolute;
				right: -12%;
				top: 0;
				width: 80px;
				h2 {
					display: none;
				}
			}
			.product-image-thumbs li a {
				margin-right: 6px;
				overflow: hidden;
				@include transition(all 0.2s $transease);
				&:hover {
					border-color: transparent;
					opacity: 0.8;
					img {
						@include transition(all 0.2s $transease);
					}
				}
			}
		}
	}
	.qty-wrapper {
		display: none;
	}
	.add-to-cart-wrapper {
		width: 42%;
	}
	.add-to-cart-buttons .button {
		background: $bordercolor;
		border: 0;
		@media only screen and (max-width: 770px) {
			padding: 0px 10px;
			min-width: 110px;
		}
		&:hover {
			background: #000;
		}
		span {
			color: $buttontextcolor;
			font-family: $titlefont;
			font-weight: $boldweight;
			font-size: 90%;
		}
		&.btn-cart:disabled {
			cursor: progress;
		}
	}
	.box-collateral {
		h2 {
			font-family: $titlefont;
			font-weight: $mediumweight;
			font-size: 100%;
			letter-spacing: $spacing+1;
			color: $textcolor;
			border-top: 1px solid $bordercolor;
			text-align: center;
			padding: 20px 0 10px;
		}
	}
}
.product-view .sharing-links a {
	background-image: url(../images/icon_sprite.png);
}
// Additional info
.product-view .accordion-info .box-collateral {
	h2 {
		cursor: pointer;
		border-top: 1px solid #CCC;
	}
	p {
	    font-size: 90%;
	    letter-spacing: 0;
	    line-height: 150%;
	}
	.fa {
	    padding-left: 18px;
	    display: inline;
	    &:before {
	    	font-size: 15px;
	    	color: #888;
	    }
	}
}
// Media
.product-image, .no-touch .product-img-box .product-image:not(.zoom-available):hover {
	border: 0;
}
a.arrow-left, a.arrow-right {
	font-family: 'Alegreya Sans SC', $mainfont;
	position: absolute;
	top: 37%;
	z-index: 10;
	display: block;
	left: 10px;
	font-size: 750%;
	font-weight: $lightweight;
	opacity: 0;
	@include transition(all 0.2s $transease);
}
a.arrow-right {
	left: auto;
	right: 10px;
}
.product-image {
	img {
		max-height: 900px !important;
	}
	&:hover {
		a.arrow-left, a.arrow-right {
			opacity: 1;
		}
	}
}
a.enlarge {
	opacity: 0;
	position: absolute;
	left: 50%;
	top: 50%;
	font-size: 40px;
	margin: -20px 0 0 -20px;
	width: 60px;
	height: 60px;
	background: rgba(0,0,0,0.2);
	border-radius: 10px;
	text-align: center;
	padding: 1px 0 0 6px;
	@include transition(all 0.2s $transease);
}
.fa-search-plus:before {
	content: "\f00e";
	margin: -27px -10px 0 0;
	font-size: 25px;
}
.slide:hover a.enlarge {
	opacity: 1;
}
.configurable-swatch-list .hover .swatch-link, .configurable-swatch-list .selected .swatch-link, .swatch-link:hover {
	border-color: #7B561E;
}
.product-view .product-options .swatch-attr .select-label {
	color: #7B561E;
}
.product-view .product-options .swatch-attr label.required:before {
	content: "Choose";
}
.product-view .add-to-links li:last-child {
	display: none;
}
.product-view .add-to-links li:first-child a {
	padding-right: 18px;
}
.product-options p.required {
	position: absolute;
	top: 6px;
	right: 11px;
	text-align: right;
	margin: -1px 0 0;
	font-size: 10px;
	padding: 0;
}
// Notify
.product-options.notify {
	margin-bottom: 20px;
	#notify-stock {
		margin: 10px 0;
		width: 100%;
		input {
			display: inline-block;
			vertical-align: top;
			height: 35px;
			width: 60%;
			margin-right: 1%;
			margin-top: 2px;
		}
		button {
			display: inline-block;
			vertical-align: top;
			height: 35px;
			width: 38%;
			margin-top: 2px;
		}
	}
}
// Ring size guide
.ring-size {
	padding-bottom: 8px;
	a {
		color: $gold;
	}
}
a.bespoke-rings {
	padding: 5px 10px;
	border: 1px solid #ccc;
	display: inline-block;
	margin: 10px 0;
	border-radius: 5px;
	@media only screen and (max-width: 700px) { 
		font-size: 80%;
	}
}
// Related 
.block-related p.product-name a, .block-related .block-title h2 {
	font-family: $mainfont;
	display: block !important;
	font-size: 130%;
	color: $textcolor;
}
.block-related .product-details .price-box span:first-child {
	padding-left: 0;
}
.block-related .mini-products-list .product-details .product-name {
	padding-top: 10px;
	margin-bottom: 0;
	padding-bottom: 0;
}
// Media
img.mfp-img {
	max-height: none !important;
}
.mfp-bg {
	background: $backgroundinvert !important;
	opacity: 0.95 !important;
}
.mfp-figure:after {
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.2) !important;
	background: $backgroundinvert !important;
}
.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close {
	color: $textcolor !important;
}
.mfp-preloader {
	text-indent: -9999px;
	background: url(../images/ajax-loader.gif) no-repeat 50% 50%;
	height: 32px;
	width: 32px;
}
.product-image, .no-touch .product-img-box .product-image:not(.zoom-available):hover {
	border: 0;
}
// Related (used as swatches)
.block-related .block-title h2 { display: none; }
// Upsell
.box-collateral {
	margin-bottom: 0;
}
.product-view > .box-up-sell {
	margin-top: 0;
	h2 {
		/* cursor: pointer; */
	}
	.fa {
		padding-left: 18px;
		display: inline;
		&:before {
			font-size: 15px;
			color: #888;
		}
	}
}
// Sharing
.pinterest a {
	background-position: 0 -270px !important;
	margin-left: -2px;
}
// Swatches
.product-options .swatch-link .x {
	top: -18px;
	left: -5px;
	background-size: 70%;
}
.input-box #configurable_swatch_material_type .not-available .x {
	background-size: 30px;
	top: -1px;
}
#configurable_swatch_stone_type li.not-available {
	opacity: 0.7;
}
#configurable_swatch_stone_type.configurable-swatch-list {
	li {
		background: url(../images/juvi_swatch.jpg) no-repeat;
		background-position: 6px -34px;
		background-size: 425px;
		height: 45px;
		width: 50px;
		padding-top: 10px;
		margin-bottom: 15px;
		@media only screen and (min-width: 1150px) {
			transform: scale(1.46) !important;
		}
		@media only screen and (min-width: 900px) {
			transform: scale(1.2);
			margin-top: 24px;
			margin-left: 3%;
			width: 13.6%;
			height: 52px;
		}
		a {
			border: 0;
		}
	}
	.swatch-label {
		padding: 20px 6px 0;
		font-size: 7px;
		background: transparent;
		border: 0;
		position: absolute;
		width: 37px;
		white-space: normal;
		line-height: 12px !important;
		letter-spacing: 0;
		color: #999;
		&:hover {
			color: #555;
		}
	}
	.selected span.swatch-label {
		color: brown;
	}
	// Amazonite
	#option71 {

	}
	// Amethyst
	#option72 {
		background-position: -17px 0 !important;
	}
	// Aqua Chalcedony
	#option73 {
		background-position: -17px -54px !important;
	}
	// Aqua Marine
	#option74 {
		background-position: -17px -108px !important;
	}
	// Blue Lace Agate
	#option75 {

	}
	// Botswana Agate
	#option76 {

	}
	// Carnelian
	#option77 {

	}
	// Cherry Quartz
	#option78 {

	}
	// Clear Quartz
	#option105 {

	}
	// Coral
	#option79 {

	}
	// Florite
	#option80 {

	}
	// Garnet
	#option81 {
		background-position: -17px -162px !important;
	}
	// Goldstone
	#option104 {

	}
	// Green Amethyst
	#option82 {
		background-position: -17px -215px !important;
	}
	// Green Onyx
	#option83 {
		background-position: -17px -376px !important;
	}
	// Iolite
	#option84 {
		background-position: -16px -268px !important;
	}
	// Labradorite
	#option85 {
		background-position: -16px -322px !important;
	}
	// Lapis Lazuli
	#option86 {
		background-position: -178px 0 !important;
	}
	// Moon Stone
	#option87 {
		background-position: -178px -54px !important;
	}
	// Multi Gem
	#option88 {
		background-position: -260px -376px !important;
	}
	// Onyx
	#option89 {
		background-position: -178px -108px !important;
	}
	// Pearl
	#option90 {
		background-position: -178px -162px !important;
	}
	// Prehnite
	#option91 {

	}
	// Quartz
	#option92 {

	}
	// Rose Quartz
	#option93 {
		background-position: -178px -215px !important;
	}
	// Ruby
	#option94 {
		background-position: -179px -269px !important;
	}
	// Smokey Quartz
	#option95 {
		background-position: -178px -323px !important;
	}
	// Sponge Coral
	#option96 {

	}
	// Tigers Eye
	#option97 {

	}
	// Turquoise
	#option98 {
		background-position: -339px -376px !important;
	}
	// Saphire
	#option113 {
		background-position: -178px -376px !important;
	}
	// Amber
	#option106 {
		background-position: -339px 0 !important;
	}
	// Blue Topaz
	#option107 {
		background-position: -339px -54px !important;
	}
	// Diamond
	#option109 {
		background-position: -339px -108px !important;
	}
	// Emerald
	#option110 {
		background-position: -339px -162px !important;
	}
	// Opal
	#option111 {
		background-position: -339px -215px !important;
	}
	// Peridot
	#option112 {
		background-position: -339px -269px !important;
	}
	// Citrine
	#option108 {
		background-position: -339px -323px !important;
	}
	// Lemon Quartz
	#option116 {
		background-position: -253px -108px !important;
	}
	// Pink Tourmaline
	#option117 {
		background-position: -253px -161px !important;
	}
	// Clear Quartz
	#option105 {
		background-position: -253px -216px !important;
	}
	// Green Tourmaline
	#option123 {
		background-position: -253px -269px !important;
	}
	// Black Onyx
	#option163 {
		background-position: -253px -375px !important;
	}
	// Black Spinel
	#option164 {
		background-position: -253px -324px !important;
	}
}
// Out of stock fix 
#configurable_swatch_stone_type li.out-of-stock {
	pointer-events: none;
	&:after {
		content: "Out Of Stock";
		position: absolute;
		color: #FFF;
		background-color: #666;
		font-size: 8px;
		text-transform: uppercase;
		white-space: nowrap;
		padding: 0 3px;
		margin: -28px 0 0 -6px;
	}
}

