

// =============================================
// Variables
// =============================================

// Main
$background: #26130B;
$backgroundinvert: #FFF;
// Text
$textcolor: #111;
$buttontextcolor: #FFF;
$pricecolor: #333;
$gold: #987F6E;
// Borders
$bordercolor: #26130B;
// Fonts & Weights
$mainfont: 'EngraversGothicBT', sans-serif;
$titlefont: 'EngraversGothicBT', sans-serif;
$lightweight: 100;
$mediumweight: 300;
$boldweight: 500;
$spacing: 0px;
// Transition - courtesy of http://log.vieron.net/articles/sass-mixins-for-vendor-prefixed-transitions-including-properties/
$transpeed: 0.1s;
$transease: ease-in;

// =============================================
// Mixins
// =============================================

@import "mixins";

// =============================================
// Basic Styles
// =============================================

@import "basicstyles";

// =============================================
// Main Styles
// =============================================

body {
	font-family: $mainfont;
	font-weight: $mediumweight;
}
.wrapper {
	margin: 10px auto 35px;
	overflow-x: hidden;
	position: relative;
}
// Links
a {
	color: lighten( $textcolor, 30% );
	@include transition(all $transpeed $transease);
	&:hover {
		color: lighten( $textcolor, 50% );
		text-decoration: none;
	}
}
a:visited {
	color: lighten( $textcolor, 30% );
}
label {
	font-family: $mainfont;
	font-weight: $mediumweight;
}
.input-text:focus {
	border: 1px solid $bordercolor;
}
input:focus, *:focus, *:active, *:visited {
	outline: none !important;
}
.clear {
	clear: both;
}

// =============================================
// Titles & Typography
// =============================================

h1, h2, h3, h4, h5 {
	font-family: $titlefont;
	font-weight: $mediumweight;
	color: $textcolor;
}
.page-title, .product-name {
	h1, h2 {
		color: $textcolor;
		font-family: $titlefont;
		font-weight: normal;
		letter-spacing: $spacing+1;
		font-size: 130%;
		margin-top: 10px;
		padding-bottom: 10px;
	}
}
.block-title {
	h2, h3, strong {
		color: $textcolor;
		font-family: $titlefont;
		font-weight: normal;
		letter-spacing: $spacing+1;
	}
}
h2, h3, h4, h5, p {
	&.product-name {
		a:hover {
			color: lighten( $textcolor, 50% );
		}
	}
}
p {
	font-size: 90%;
	font-family: $mainfont;
	letter-spacing: $spacing+1;
	line-height: 200%;
	padding-bottom: 20px;
}
.price-box .price, .price {
	font-family: $titlefont;
	letter-spacing: $spacing+1;
	font-weight: $mediumweight+100;
}
.fa {
	text-indent: -9999px;
	position: relative;
	&:before {
		text-indent: 0;
		font-size: 20px;
		color: $textcolor;
		position: absolute;
		right: 0;
		font-family: "FontAwesome";
		@include transition(color $transpeed $transease);
	}
	&:hover:before {
		color: lighten($textcolor, 30%);
	}
}
// Buttons
.button {
	background: $background;
	@include transition(background-color $transpeed $transease);
}
.button {
	&:hover, &:active {
		background: lighten( $background, 30% );
	}
	&:focus {
		background: lighten( $background, 50% );
	}
}
.button, .button2 span, .button2 span span {
	font-family: $titlefont;
	&:hover {
		color: lighten( $textcolor, 50% );
	}
}
.button.button-secondary, a.button:visited {
	color: $buttontextcolor;
}
.btn-remove {
	border-color: lighten( $bordercolor, 80% );
	@include transition(all $transpeed $transease);
	&:hover {
	background: $background;
	border-color: $bordercolor;
	}
	&:after {
		content: "×";
		font-size: 18px;
		font-weight: $lightweight;
		color: lighten( $textcolor, 30% );
		display: block;
		text-align: center;
		margin-left: 1px;
		@include transition(all $transpeed $transease);
	}
	&:hover:after {
		color: #FFF;
	}
}
// Forms etc
input, select, textarea {
	font-family: $mainfont;
	font-size: 85%;
	font-weight: $mediumweight;
}
select {
	border: 1px solid lighten($bordercolor, 80%);
	height: 30px;
}
form .legend {
	font-size: 100%;
	font-weight: $mediumweight;
	font-family: $titlefont;
}
.fieldset p.required {
	font-size: 80%;
}
// Tables
.data-table {
	th, tr, td, tbody td, tfoot td, h3.product-name {
		font-family: $titlefont;
		font-weight: $mediumweight;
		font-size: 100%;
		color: $textcolor;
	}
}
//Tooltip
.tooltip {
    position:absolute;
    background-color:rgba(39, 19, 11, 0.7);
    border-radius:2px;
    padding:2px 4px;
    color:#fff;
    font-size:10px;
    display: block;
}

// =============================================
// Messages
// =============================================

ul.messages {
	width: 101%;
	overflow: hidden;
	position: fixed;
	z-index: 999999;
	left: 0;
	top: 0;
	margin: -1px !important;
	cursor: pointer;
	li {
		padding: 14px 10px 12px 20px;
	}
	> li:after { 
		font-family: 'Alegreya Sans SC', $mainfont;
		content: "×";
		position: absolute;
		width:30px; 
		height:30px; 
		right: 20px;
		top: 0;
		font-size: 32px;
	}
	a {
		text-decoration: underline;
	}
}
.error-msg, .success-msg, .note-msg, .notice-msg {
	font-family: $titlefont;
	background: $backgroundinvert;
	text-align: center !important;
	min-height: 0 !important;
	padding: 0 !important;
	font-size: 13px !important;
	letter-spacing: $spacing+2;
	margin: 0 0 20px !important;
	text-align: left;
	text-transform: uppercase;
	font-weight: 100 !important;
	box-shadow: 0 0 4px rgba(0,0,0,0.3);
}

// =============================================
// Header
// =============================================

@import "header";

// =============================================
// Navigation
// =============================================

@import "navigation";

// =============================================
// Homepage
// =============================================

@import "homepage";

// =============================================
// Layered Nav
// =============================================

@import "layerednav";

// =============================================
// Category View
// =============================================

@import "categoryview";

// =============================================
// Product View
// =============================================

@import "productview";

// =============================================
// Footer
// =============================================

@import "footer";

// =============================================
// Cart / Checkout / Account
// =============================================

@import "cart_checkout_account";

// =============================================
// Gemstones & Press
// =============================================

@import "gemstones";

// =============================================
// CMS Pages
// =============================================

.cms-page-view h1 {
	width: 100%;
	text-align: center;
	font-size: 250%;
}
.cms-faq {
	h5 {
		color: #000;
		font-weight: 100;
		font-size: 120%;
	}
	p {
		font-size: 13px;
	}
}
@import "cms_helpers";

// =============================================
// Contacts
// =============================================

.contacts-index-index {
	.w70.left {
		width: 70%;
		float: left;
		img {
			width: 100%;
			margin-bottom: 20px;
		}
		p {
			font-family: 'Roboto', sans-serif;
			font-size: 90%;
			letter-spacing: 0;
			line-height: 150%;
		}
	}
	.w50.left {
		width: 50%;
		float: left;
		padding-right: 15px;
	}
	.w50.right {
		width: 50%;
		float: right;
		padding-left: 15px;
	}
	.w30.right {
		width: 30%;
		float: right;
		.page-title {
			padding-left: 40px;
		}
	}
	#contactForm .fieldset .legend + .required {
		margin: 0;
		padding: 0;
	}
}

// =============================================
// Mailchimp popup
// =============================================

.mc-modal-bg {
	background-color: #FFF !important;
}
.mc-closeModal {
	color: inherit !important;
}

// =============================================
// Shopstafeed
// =============================================

.insta-post-view {
	.highlight {
		background: #d9d5ca;
		border: 1px solid #d9d5ca !important;
		color: #000 !important;
	}
	ul.products-grid {
		text-align: center;
	}
	.products-grid .product-name {
		padding-top: 10px;
		font-family: inherit;
		font-size: 90%;
	}
	.insta-marker {
		line-height: 26px;
		border: 1px solid transparent;
	}
}
div#insta-popup-overlay {
	background-color: rgba(255,255,255,.95);
}
.insta-popup {
	box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
	border: 1px solid #FFF;
}
div.insta-popup-close {
	color: inherit;
}

// =============================================
// Responsive
// =============================================

// If these are changed, they must also be updated in app.js

$bp-small: 479px;
$bp-medium: 770px;
$bp-large: 979px;
$bp-xlarge: 1199px;

@import "responsive";


// =============================================
// Sale Landing
// =============================================

.sale-row {
	margin: 40px 0 80px;
	a {
		float: left;
		width: 20%;
		text-align: center;
		display:block;
		img {
			width: 100%;
		}
		@media only screen and (max-width: 550px) {
			width: 33.33%;
		}
	}
	h1 {
		color: #91776A;
		@media only screen and (max-width: $bp-medium) {
			font-size: 120%;
		}
	}
	h3 {
		color: #91776A;
		@media only screen and (max-width: $bp-medium) {
			font-size: 90%;
		}
	}
}

// =============================================
// Facebook Chat
// =============================================

#fb-chat-btn {
	background: $background url(../images/chat_icon.png) no-repeat 12px 56%;
	height: 40px;
	width: 140px;
	position: fixed;
	bottom: 5px;
	right: 5px;
	color: #FFF;
	border-radius: 5px;
	cursor: pointer;
	z-index: 9;
	span {
		padding: 0 0 0 45px;
		line-height: 38px;
	}
}
.fb-page.fb_iframe_widget {
	position: fixed;
	bottom: 0;
	right: -410px;
	z-index: 10;
	@include transition(all 0.2s $transease);
	&.slide-out {
		right: 0;
	}
}
